{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/styles/account/account_form_base.css" %}">
{% endblock %}

{% block body_content %}

	{% if user.is_authenticated or registered %}

	{% block authenticated_block %}
	{% endblock %}

	{% else %}

	{% block unauthenticated_block %}
	{% endblock %}

	{% endif %}

	{% if force_form or not user.is_authenticated %}

	<div class="wrapper">

		{% if not user.is_authenticated %}
		<div id="third_party_auth_div">

			New! Third-party logins! <br />
			Forget the passwords! <br />

			<div id="login-buttons">
				<a title="Login with Google" alt="Login with Google" href="{% url 'social:begin' 'google-oauth2' %}" id="google-signin-button"></a>
				<a title="Login with GitHub" alt="Login with GitHub" href="{% url 'social:begin' 'github' %}" id="github-signin-button"></a>
				<a title="Login with Facebook" alt="Login with Facebook" href="{% url 'social:begin' 'facebook' %}" id="facebook-signin-button"></a>
			</div>


			<span class="disclaimers">Note: Third-party authentication will only use
			your information for authentication purposes. See our <a class="animated" target="_blank" href="{% url 'Privacy Policy' %}">Privacy Policy</a></span>

		</div>
		{% endif %}

		<form class="account_form" id="{{html_form.name}}" method="{{html_form.method}}" action="{{html_form.action}}" {% if html_form.enctype %}enctype="{{html_form.enctype}}"{% endif %}>

			{% if error_message %}
			<div class="errorlist">
				{{error_message}}
			</div>
			{% endif %}

			{% block form_content %}
			{% endblock %}

			<input type="text" class="hidden-input" name="path">

			<div class="center-align">
				<input type="submit" name="submit" value="{{html_form.submit_value}}" />
			</div>

			{% block end_form_block %}
			{% endblock %}

		</form>
		{% endif %}
	</div>

{% endblock %}

{% block end_block %}
{% if html_form.resizeable %}
<script type="text/javascript">

	var mainForm = getElemId('{{html_form.name}}');

	document.addEventListener("DOMContentLoaded", function () {
		resizeForm();
		var hiddenPathInputs = getElemsQuery(".hidden-input[name=path]");
		for (var i = 0; i < hiddenPathInputs.length; i++)
			hiddenPathInputs[i].value = getLocallyStored('path') ? getLocallyStored('path'):'';
	});

	function onResize() {
		{% if not user.is_authenticated %}
		resizeForm();
		{% endif %}
	};

	function resizeForm() {
		let formWidth = getElemWidth(getElemQuery("{% if html_form.resize_reference_query %}{{html_form.resize_reference_query}}{% else %}input[name]{% endif %}"));
		setElemWidth(mainForm, formWidth);
		setElemWidth(getElemId('third_party_auth_div'), formWidth);
	}

	function pageReady() {
		let errorList = getElemsClass('errorlist');
		for (let error of errorList) {
			insertAfterElem(error, error.nextElementSibling.children[1]);
		}
	}
</script>
{% endif %}

{% endblock %}