{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/styles/account/account_form_base.css" %}">
{% endblock %}

{% block body_content %}

	{% if user.is_authenticated or registered %}

	{% block authenticated_block %}
	{% endblock %}

	{% else %}

	{% block unauthenticated_block %}
	{% endblock %}

	{% with page.form as html_form %}
	<form class="account_form" id="{{html_form.id}}" method="{{html_form.method}}" action="{{html_form.action}}" {% if html_form.enctype %}enctype="{{html_form.enctype}}"{% endif %}>

		{% if error_message %}
		<div class="errorlist">
			{{error_message}}
		</div>
		{% endif %}

		{% block form_content %}
		{% endblock %}

		<input type="text" class="hidden-input" name="path">

		<div class="center-align">
			<input type="submit" name="submit" value="{{html_form.submit_value}}" />
		</div>

		{% block end_form_block %}
		{% endblock %}

	</form>
	{% endwith %}
	{% endif %}

{% endblock %}

{% block end_block %}
{% with page.form as html_form %}
{% if html_form.resize %}
<script type="text/javascript">
	$(document).ready(function () {
		resize_form();
		$(".hidden-input[name=path]").val(getLocallyStored('path') ? getLocallyStored('path'):'');
	});

	$(window).resize(function () {
		resize_form();
	});

	function resize_form() {
		$("#{{html_form.id}}").width($("{% if html_form.resize_reference_query %}{{html_form.resize_reference_query}}{% else %}input[name]{% endif %}").outerWidth());
	}
</script>
{% endif %}
{% endwith %}

{% endblock %}