{% extends 'account/account_form_base.html' %}

{% load staticfiles %}

{% block authenticated_block %}
	<h1>You are already in, {{user.username}}!</h1>

	<a href="/account/logout">Logout from the Foundation</a> or <a href="/">go to homepage</a>?
	<br />
{% endblock %}

{% block unauthenticated_block %}
	<h1>Login to the Foundation!</h1>
{% endblock %}

{% block form_content %}
	Enter Account Details:
	<br />
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br />
{% endblock %}

{% block end_additions %}
<script type="text/javascript">
	$(document).ready(function () {
		$(".errorlist").each(function (e) {
			$(this).insertAfter($(this).next());
		});
	});
</script>
{% endblock %}