{% extends 'account/account_form_base.html' %}

{% block authenticated_block %}
	<h1>You are already in, {{user.username}}!</h1>

	<a class="animated" href="{% url 'Logout' %}">Logout from the Foundation</a> or <a class="animated" href="{% url 'Homepage' %}">go to homepage</a>?
	<br />
{% endblock %}

{% block unauthenticated_block %}
	<h1>Login to the Foundation!</h1>
{% endblock %}

{% block form_content %}
	Enter Account Details:
	<br />
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br />
{% endblock %}

{% block end_form_block %}
	<br />
	<div class="center-align" style="font-size: 0.75em;">
		Forgot your login details?
		<br />
		<i><a class="animated" href="{% url 'Password Reset' %}">Reset your password</a></i>
	</div>
{% endblock %}

{% block end_block %}
	{{block.super}}

	<script type="text/javascript">
		function pageReady() {
			var errorList = getElemsClass('errorlist');
			for (var i = 0; i < errorList.length; i++) {
				var error = errorList[i];
				insertAfterElem(error, error.nextElementSibling);
			}
		}
	</script>
{% endblock %}