{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/account/password_reset_email_sent.css" %}">

{% endblock %}

{% block body_content %}

<h1>Email was successfully sent!</h1>

<div class="email-sent-success-message">An email was successfully sent to your email address. Please check it to complete password reset process.</div>

<br />

To improve your memory, try out <a class="animated" href="http://www.learninggamesforkids.com/memory_games.html">these children memory games</a>!

<br /><br />

<a class="animated" href="{% url 'Homepage' %}">Return to the homepage.</a>

{% endblock %}
