{% extends 'account/account_form_base.html' %}

{% block authenticated_block %}
	<h1>Welcome to the Foundation!</h1>

	<strong>Thank you for registering!</strong>
	<a class="animated" href="{% url 'Homepage' %}">Return to the homepage.</a>
	<br />
{% endblock %}

{% block unauthenticated_block %}
	<h1>Join the Foundation!</h1>
{% endblock %}

{% block form_content %}
	Enter account details: <br />
	<span class="help-text">Items in bold are required<br /></span>

	{% csrf_token %}

	{{ user_form.as_p }}
{% endblock %}
