{% extends 'account/account_form_base.html' %}

{% block authenticated_block %}
	<h1>Welcome to the Foundation!</h1>

	<strong>Thank you for registering!</strong>
	<a href="/">Return to the homepage.</a>
	<br />
{% endblock %}

{% block unauthenticated_block %}
	<h1>Join the Foundation!</h1>
{% endblock %}

{% block form_content %}
	Enter account details:

	{% csrf_token %}

	{{ user_form.as_p }}
	{{ profile_form.as_p }}
{% endblock %}

{% block end_block %}
	{{block.super}}

	<script type="text/javascript">
		$(document).ready(function () {
			$(".errorlist").each(function (e) {
				$(this).insertAfter($(this).next().children(1));
				$(this).remove();
			});
		});
	</script>
{% endblock %}