{% extends 'account/account_form_base.html' %}

{% load staticfiles %}

{% block header_additions %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "assets/styles/account/reset_password.css" %}">
{% endblock %}

{% block authenticated_block %}
	<h1>You are already logged in!</h1>

	Why reset your password? <i><a class="animated" href="{% url 'Logout' %}">Logout</a></i>
{% endblock %}

{% block unauthenticated_block %}
	<h1>Reset your Password!</h1>
{% endblock %}

{% block form_content %}
	{% csrf_token %}
	{{form.as_p}}
{% endblock %}

{% block end_block %}
	{{block.super}}
	<script type="text/javascript">
		function pageReady() {
			var maxWidth = getElemWidth(getElemTagName('label'))
				+ getElemWidth(getElemQuery("input[name]"));
			if (getElemWidth(getElemTagName('p')) < maxWidth)
				maxWidth = getElemWidth(getElemTagName('p'));
			var messageElems = getElemsClass('message');
			for (var i = 0; i < messageElems.length; i++)
				setElemStyle(messageElems[i], 'maxWidth', maxWidth + "px");
		}
	</script>
{% endblock %}


