{% extends 'account/account_form_base.html' %}

{% load staticfiles %}

{% block header_additions %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "assets/styles/account/reset_password.css" %}">
{% endblock %}

{% block unauthenticated_block %}
	<h1>Reset your Password!</h1>
{% endblock %}

{% block form_content %}
	{% if messages %}
	{% for message in messages %}
	<div class="message {{message.tags}}">
		{{message}}
	</div>
	{% endfor %}
	{% endif %}

	{% csrf_token %}
	{{form.as_p}}
{% endblock %}

{% block end_block %}
	{{block.super}}
	<script type="text/javascript">
		$(document).ready(function () {
			var max_width = $("label").outerWidth() + $("input[name]").outerWidth();
			$(".message").each(function (e) {
				$(this).css('max-width', max_width);
			});
			max_width = $("p").outerWidth();
			$(".message").each(function (e) {
				$(this).css('max-width', max_width);
			});
		});
	</script>
{% endblock %}


