[submodule "static/assets/javascript/games/ConnectOfekAI"]
	path = static/assets/javascript/games/ConnectOfekAI
	url = https://github.com/The-Ofek-Foundation/ConnectOfek
[submodule "static/assets/javascript/games/LameDuck"]
	path = static/assets/javascript/games/LameDuck
	url = git@github.com:The-Ofek-Foundation/Lame-Duck
