#Compiled python files
**/*.pyc

#wsgi
TheOfekFoundation/wsgi.py

scripts/*

db.sqlite3

**/local_settings.py
**/global_settings.py

# Google App Engine
**/Website-07a6a0c3616e.json
cloud_sql_proxy
tempstatic/

*.sublime-*
