[submodule "static/assets/javascript/games/ConnectOfekAI"]
	path = static/assets/javascript/games/ConnectOfekAI
	url = git@github.com:The-Ofek-Foundation/ConnectOfek
[submodule "static/assets/javascript/games/LameDuck"]
	path = static/assets/javascript/games/LameDuck
	url = git@github.com:The-Ofek-Foundation/Lame-Duck
[submodule "static/assets/javascript/games/Mancala"]
	path = static/assets/javascript/games/Mancala
	url = git@github.com:The-Ofek-Foundation/Mancala
[submodule "static/assets/javascript/games/OnlineGo"]
	path = static/assets/javascript/games/OnlineGo
	url = git@github.com:The-Ofek-Foundation/Online-Go
[submodule "static/assets/javascript/games/UltimateTicTacToe"]
	path = static/assets/javascript/games/UltimateTicTacToe
	url = git@github.com:The-Ofek-Foundation/UltimateTicTacToe
[submodule "static/assets/javascript/tools/Grapher"]
	path = static/assets/javascript/tools/Grapher
	url = git@github.com:The-Ofek-Foundation/Grapher
[submodule "static/assets/javascript/tools/HappyNumber"]
	path = static/assets/javascript/tools/HappyNumber
	url = git@github.com:The-Ofek-Foundation/Happy-Numbers
[submodule "static/assets/javascript/tools/Maze"]
	path = static/assets/javascript/tools/Maze
	url = git@github.com:The-Ofek-Foundation/Maze
[submodule "static/assets/javascript/tools/PrimeFactorizer"]
	path = static/assets/javascript/tools/PrimeFactorizer
	url = git@github.com:The-Ofek-Foundation/PrimeFactorizer
[submodule "static/assets/javascript/tools/ReveresLatsLettesr"]
	path = static/assets/javascript/tools/ReveresLatsLettesr
	url = git@github.com:The-Ofek-Foundation/ReveresLatsLettesr
[submodule "static/assets/javascript/tools/PasswordGenerator"]
	path = static/assets/javascript/tools/PasswordGenerator
	url = git@github.com:The-Ofek-Foundation/PasswordGenerator
[submodule "static/assets/javascript/games/Snake"]
	path = static/assets/javascript/games/Snake
	url = git@github.com:The-Ofek-Foundation/Snake
[submodule "static/assets/javascript/tools/DijkstraAlgorithm"]
	path = static/assets/javascript/tools/DijkstraAlgorithm
	url = git@github.com:The-Ofek-Foundation/DijkstraAlgorithm
[submodule "templates/people/edan"]
	path = templates/people/edan
	url = git@github.com:The-Ofek-Foundation/Edan
