#footer {
	z-index: 15;

	button {
		color: white;
		border-radius: 5px;
		margin-top: 10px;
		margin-left: 30px;
		margin-right: 30px;
		font-size: 1em;

		&#new-game {
			background-color: blue;
		}
		&#settings {
			background-color: gray;
		}
		&#back {
			background-color: red;
		}
		&#stop-ai {
			background-color: purple;
		}
		&#start-ai {
			background-color: green;
		}
	}
}
