#content-wrapper {
	overflow: auto;
}

.collapsible-list {
	list-style: none;
	padding-left: 0px;
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	#hidden-top, #hidden-bottom {
		left: 0px;
		width: 100%;
		height: 1000px;
		z-index: 1;
		border: none;
		bottom: 0px;
	}

	li {
		border: 3px solid black;
		position: absolute;
		background-color: white;
		word-wrap: break-word;
	}

	.header {
		font-size: 30px;
		font-weight: bold;
		padding: 10px 35px;
		z-index: 2;
		background-color: orange;

		&.extended::after {
			background-image: url(/static/images/games/angle_down1600.png);
		}

		&:after {
			background-image: url(/static/images/games/angle_right1600.png);
			background-size: 30px;
			display: inline-block;
			width: 30px;
			height: 30px;
			content: "";
			float: right;
			margin-top: 5px;
			cursor: pointer;
			transition: background-image 2s;
		}
	}

	.description {
		border-top: 0px;
		z-index: 0;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 70px;
		padding-right: 70px;
		transition: margin-top 2s;
		background-color: yellow;
		top: -1000px;
	}
}