#duck {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 75;
}
.fish {
  position: absolute;
}
#content-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}
#fish-images {
  z-index: -1;
  position: absolute;
  visibility: hidden;
}
#left-details {
  margin-left: 1em;
  margin-top: 1em;
}
#left-details h1 {
  margin-bottom: 0em;
  margin-top: 0em;
}
