#content-wrapper {
	overflow: hidden;
}

#board {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	z-index: 10;
}

#footer {
	position: fixed;
	display: inline;
	bottom: 0px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	z-index: 5;

	#anal {
		left: 0px;
		margin: auto 30px;
		position: absolute;
		bottom: 0px;
	}
	#num-trials {
		right: 0px;
		margin: auto 30px;
		position: absolute;
		bottom: 0px;
	}
}

.right-float-additions {
	margin-top: 1px;
	padding-bottom: 0px;

	transition: background-color 0.5s;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&:active {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
