{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{page.title}}{% endblock %}

{% block head_block %}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description"          content="{{page.full_description}}">
	<meta property="og:url"           content="{{page.full_url}}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{page.title}}" />
	<meta property="og:description"   content="{{page.description}}" />

	<link rel="canonical" type="text/css" href="{{page.full_url}}">

	{% block rel_block %}
		<link rel="shortcut icon" href="{% static "images/icons/blog-logo.png" %}" type="image/x-icon" />
		<link rel="icon" href="{% static "images/icons/blog-logo.png" %}" type="image/gif" />
	{% endblock %}

	<script type="text/javascript" src="{% static "assets/javascript/theofekfoundation.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/javascript/elemdata.js" %}"></script>

	<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{% static "assets/styles/main_app.css" %}">

	<script src="https://apis.google.com/js/platform.js" async defer></script>

	{% block header_additions %}{% endblock %}
{% endblock %}

{% block body_block %}

	<ul class="navbar" id="navbar-top">
		<li class="link"><a href="{% url 'Homepage' %}">Home</a></li>
		<li class="link"><a href="{% url 'Blog' '' %}">Blog</a></li>
		<li class="link"><a href="{% url 'Games' %}">Games</a></li>
		<ul style="float:right; list-style-type:none; padding-left: 0px;">
			{% block right_float_additions %}{% endblock %}
			<li style="padding-top: 4px;">
				<div class="social">
					{% if mobile %}
					<span class="google">
						<div class="g-plusone" data-size="standard" data-annotation="none"></div>
					</span>
					<span class="Facebook">
						<iframe src="https://www.facebook.com/plugins/like.php?href={{page.full_url}}&width=51&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="51" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					</span>
					{% else %}
					<span class="google">
						<div class="g-plusone" data-size="standard"></div>
					</span>
					<span class="Facebook">
						<iframe src="https://www.facebook.com/plugins/like.php?href={{page.full_url}}&amp;show_faces=false&amp;layout=button_count" scrolling="no" frameborder="0" style="height: 21px; width: 100px" allowTransparency="true"></iframe>
					</span>
					{% endif %}
				</div>
			</li>
			{% if not mobile %}
			{% if user.is_authenticated %}
				<li>
					<a id="navbar-username">{{user.username}}</a>
				</li>
				<li class="link"><a id="logout-url" data-url="{% url 'Logout' %}">Logout</a></li>
			{% else %}
				<li class="link"><a class="path-link" data-url="{% url 'Register' %}" data-path="{{page.pathname}}">Register</a></li>
				<li class="link"><a class="path-link" data-url="{% url 'Login' %}" data-path="{{page.pathname}}">Login</a></li>
			{% endif %}
			{% endif %}
		</ul>
	</ul>

	<div id="content-wrapper">
		{% block body_content %}{% endblock %}
	</div>

	<script type="text/javascript">
		{% if user.is_authenticated %}
		ga('set', 'userId', '{{ user.id }}'); // Set the user ID using signed-in user_id.
		{% endif %}
	</script>
</script>

{% endblock %}

