<h3>Summary</h3>

<p>A fast prime factorizer (and detector) using a sieve.</p>

<h3>Controls</h3>

<p>Enter the size of your sieve, and generate it (sieves of sizes up to 100,000,000,000,000&mdash;or 200 trillion&mdash;can be generated nearly instantly). Any number can be factorized as long as they have a divisor &lt;= the sieve size.</p>

<p>After you generate the sieve once, you can factorize as many numbers as you want.</p>

<h3>History</h3>

<p>I was always fascinated by prime number factorization, and a sieve is the most intuitive and fast way I can think of to factorize them. I had a java program that had a much much bigger sieve of its own and was ever-expanding, but that became boring after a while and was impractical to put on a website.</p>

<h3>Technical Stuff</h3>

<p>I use <a href="https://github.com/MikeMcl/big.js/" target="_blank">big.js</a> for numbers too big to normally handle.</p>
