<h3>Summary</h3>

<p>A function grapher with some sweet tools.</p>

<p>You can trace the slope along the function, use newtons method to find zeros, draw the derivative, and more.</p>

<p>My function also holds its dot-connecting to a high level. Just try graphing the following function with google, desmos, and my grapher, to see which is the most accurate: abs(sin(x^10))/sin(x^10) + 2 (the dots aren't supposed to connect)</p>

<p>If the function is ever chopping, just change the increment (hit the settings icon).</p>

<p>This also animates much faster on Microsoft Edge for some reason.</p>

<h3>Controls</h3>

<p>Use 'Graph' to draw a function, and the other features are pretty self explanatory.</p>

<p>In 'Trace' mode, move your mouse along the graph to see the slope of the graph, and hit 'n' (on desktop), to see Newton's method in action for finding zeros.</p>

<p>Use the mouse wheel to zoom in or out, and redraw the function.</p>

<p>The settings has multiple commands. The show/hide lines command, which toggles whether or not to draw lines between points in the function (shows them by default). The domain and range commands that followup with a prompt asking you to set your custom domain/range. The animate/no animation command that toggles whether to animate the drawing of the function or not (on by default). The increment commands which chooses the level of detail for the function (smaller increment means more detail, but takes longer). And, the toggle axes command that toggles whether or not to draw the coordinate axes.</p>

<h3>Technical Stuff</h3>

<p>This program uses <a href="http://mathjs.org/" target="_blank">math.js</a> for evaluating values of equations.</p>
