<h3>Summary</h3>

<p>Just a fun little happy number calculator.</p>

<p>You can read <a href="https://en.wikipedia.org/wiki/Happy_number">the Wikipedia page</a> on happy numbers to find out what they are.</p>

<h3>Controls</h3>

<p>Just type a happy number and press enter to evaluate.</p>

<p>There are also some developer commands you can do. For example, clear() clears the falldowns that come after an item is placed. power = [#] changes the power used in the sum. By default, it is 2 (sum of the squares), but you can change the power.</p>

<p>You can also modify the nthPower variable (which is false by default), for example: nthPower = 'digit', meaning that the exponent depends on the digit, or nthPower = 'reversePlace', which is reverse digit.</p>

<p>You can also change the mode, which is what to do with the numbers. The default is add (add them together), but you can change it to mult/multiply and fact/factorial, by doing: mode = 'factorial'.</p>

<p>Also, anyone who's interested, try settings inverse = true and see what that does.</p>

<h3>History</h3>

<p>Happy numbers was fun trivia of the day in my Calculus course, so I whipped up a calculator and used it to come up with fun statistics about happy numbers. That's about it :P</p>
