{% extends 'tools/_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "assets/styles/tools/Maze.css" %}">

{% endblock %}

{% block rel_block %}

<link rel="shortcut icon" href="{% static "images/icons/maze.png" %}" type="image/x-icon" />
<link rel="icon" href="{% static "images/icons/maze.png" %}" type="image/gif" />

{% endblock %}

{% block body_content %}

<div id="maze-tr-div">
	<button id="new-game" onclick="showSettingsForm();">New Maze</button>
	<button id="solve-maze" onclick="solveMaze();">Solve Maze</button>
	<button onclick="removeDeadEnds(1);">RDE</button>
</div>
<canvas id="maze"></canvas>

<div id="settings-menu">
	<h1 style="margin-top: 0px;">Maze Settings</h1>
	<table id="settings-table">
		<tr>
			<td>Maze width:</td>
			<td><input type="number" name="width" min="7" step="4" value="23"></td>
		</tr>

		<tr>
			<td>Maze height:</td>
			<td><input type="number" name="height" min="7" step="4" value="23"></td>
		</tr>

		<tr>
			<td>Thin walls?</td>
			<td><input type="checkbox" name="thin-maze"></td>
		</tr>

		<tr>
			<td>Show start and end:</td>
			<td><input type="checkbox" name="show-start" checked></td>
		</tr>

		<tr>
			<td>Animate generation:</td>
			<td><input type="checkbox" name="animate"></td>
		</tr>

		<tr>
			<td>Approximate animation duration (s):</td>
			<td><input type="number" name="duration" min="0" value="30"></td>
		</tr>

		<tr>
			<td>Maze style:</td>
			<td>
				<select name="maze-style">
					<option value="normal" selected>Normal</option>
					<option value="vertical">Vertical</option>
					<option value="horizontal">Horizontal</option>
					<option value="checkerboard">Checkerboard</option>
					<option value="inward x">Inward X</option>
					<option value="square">Square</option>
					<option value="awkward circle">Awkward Circle</option>
					<option value="awkward circle square">Awkward Circle Square</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Style intensity:</td>
			<td><input type="range" name="style-intensity" min="5" max="9.7" step="0.1" val="8"></td>
		</tr>

		<tr>
			<td>Custom resolution (for saving images):</td>
			<td><input type="checkbox" name="custom-resolution"></td>
		</tr>

		<tr>
			<td>Block width in pixels (if custom resolution):</td>
			<td><input type="number" name="block-width" min="1" step="1" value="10"></td>
		</tr>

	</table>
	<div class="submit-buttons-div">
		<tr><input type="submit" id="done" value="Done"></tr>
		<!--{% if user.is_authenticated %}
		<tr><input type="submit" id="save" value="Save"></tr>
		{% endif %}-->
		<tr><input type="submit" id="cancel" value="Cancel"></tr>
	</div>
</div>

{% endblock %}

{% block end_block %}

{{block.super}}
<script type="text/javascript" src="{% static "assets/javascript/tools/Maze/Maze.js" %}"></script>

{% endblock %}
