{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/tools/PasswordGenerator.css" %}">

{% endblock %}

{% block body_content %}

<h2>Generate your password</h2>
<form id="generate-form">
	Length (Letters):
	<input type="number" name="length" min="1" max="20" step="1" value="8">
	<br /><br />
	Illegal Characters:
	<input type="text" name="illegal" placeholder="~+=">
	<br /><br />
	<input type="submit" value="Generate">
</form>
<br /><br />
<div id="password-div">
	<input id="password" placeholder="Generated Password" disabled>
	<button id="copy-button">Copy</button>
</div>

{% endblock %}

{% block end_block %}

<script type="text/javascript" src="{% static "assets/javascript/tools/PasswordGenerator.js" %}"></script>

{% endblock %}
