<h3>Summary</h3>

<p>A nifty little tool to generate random passwords, useful in this age of cryptography.</p>

<p>I know that there are many other tools out there, but this is the only one I could really trust. And you can trust it too, because all my code is open-sourced :D You can view it <a href="https://github.com/The-Ofek-Foundation/PasswordGenerator/blob/master/PasswordGenerator.js" target="_blank">here</a> on GitHub, and <a href="https://www.pythonanywhere.com/user/ofekih/shares/af3aef6d0b9d484ea64729d7c8e31358/" target="_blank">here</a> to see the literal code of the page from the website that hosts my backend. You would need to create a pythonanywhere account though.</p>
