{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/tools/PasswordGenerator.css" %}">

{% endblock %}

{% block body_content %}

<h2>Generate your password</h2>
<form id="generate-form" onsubmit="return false;">
	Length (Letters):
	<input type="number" name="length" min="1" step="1" value="8">
	<br /><br />
	Illegal Characters:
	<input type="text" name="blacklist" placeholder="~+=">
	<br /><br />
	Whitelist (instead):
	<input type="text" name="whitelist" placeholder="abcd">
	<input type="button" name="alphanumeric" value="Set Alphanumeric">
	<br /><br />
	<input type="submit" value="Generate" onclick="generatePassword();">
</form>
<br /><br />
<div id="password-div">
	<input id="password" placeholder="Generated Password" disabled>
	<button id="copy-button">Copy</button>
</div>

{% endblock %}

{% block end_block %}

<script type="text/javascript" src="{% static "assets/javascript/tools/PasswordGenerator/PasswordGenerator.js" %}"></script>

{% endblock %}
