<h3>Summary</h3>

<p>Reverse the last two letters of words, and then have your browser try and say them :D</p>

<h3>Controls</h3>

<p>Do ya'lls really need an explanation?</p>

<h3>History</h3>

<p>My friend and I were chatting in gmail chat, when we had some typos. We then understood that you can make text painful to read&emdash;but understandable&emdash;if you swap the last two letters of each word. It was also funny to say out loud.</p>

<p>We both quickly whipped up a python solution, and I decided to add mines to my website. I also added a feature allowing the browser to read out the text in many different voices.</p>

<p>If the voices don't work with you, try switching to chrome.</p>
