{% autoescape off %}

Hey {{ alumnus.first_name }}, <br />
I'm Ofek Gila, a recent alumnus of Seuss/Ramon AZA #195.<br />
Our Annual Turkey Bowl Reunion is next week, Thursday November 23rd at Joaquin Miller Middle School. Come destroy MoAd and shmooze with alumni and active Alephs. Address is 6151 Rainbow Dr, San Jose, California 95129.
<br /><br />
We're updating the <a href="{{ google_sheet_database_url}}" target="_blank">Seuss/Ramon Alumni Directory</a>. Please help update your class' contact info.<br />
Also make sure you're in the <a href="https://www.facebook.com/groups/628172203966431/">Alumni Facebook group</a> as well as the <a href="https://www.linkedin.com/groups/4533758">Alumni Linkedin group</a>.
<br /> <br />
The chapter is 60 Alephs strong in its 26th year and the current Grand Aleph Godol is Ron Hasson, a Ramonian class of 2017.
<br /><br />
Thank you and FratSub, <br />
Ofek Gila, <br />
Alumnus of Seuss/Ramon AZA #195
<br /><br />
Please open <a href="{{ img_url }}" target="_blank"> this link</a> to verify your email address is up-to-date in the directory.

<img src="{{ img_url }}">

{% endautoescape %}
