{% autoescape off %}

Hey {{ alumnus.full_name }}, this is Ofek Gila, a recent Alumnus of Ramon AZA #195

<br /><br />

First of all, I want to invite you to this year's Turkey Bowl, hosted next week on Thursday (November 23rd), at Joaquin Miller Middle school. Hope to see you there!

<br /><br />

On another note, a couple of Seuss and Ramon Alumni have been working on making a database of our Alumni, and we'd love it if you could take a few minutes and update your information, or maybe even add missing people, contact info for people you know, etc.—anything would be much appreciated. This would make it easier for Ramon to contact us for future events/reunions.

<br /><br />

You can find the database here: <a href="{{ google_sheet_database_url}}" target="_blank">{{ google_sheet_database_url }}</a>

<br /><br />

Also, in order to verify that your email address is still active, please go to the following url: <a href="{{ img_url }}" target="_blank">{{ img_url }}</a>

<img src="{{ img_url }}">

<br /><br />

---
Ofek Gila,
Alumnus of Ramon AZA #195

{% endautoescape %}
