{% autoescape off %}

Hey {{ alumnus.first_name }}, <br />
I'm Ofek Gila, a recent alumnus of Seuss/Ramon AZA #195.
<br />
The Annual Turkey Bowl Reunion is next week, Thursday November 23rd at Joaquin Miller Middle School in Cupertino. Come destroy MoAd and shmooze with other alumni.

<br /><br />

We're also updating the <a href="{{ google_sheet_database_url}}" target="_blank">Seuss/Ramon Alumni Directory</a>. Please help update your class' contact info. Also please open <a href="{{ img_url }}" target="_blank"> this link</a> to verify your email address is updated.<br />
The chapter's 60 Alephs strong and the current Grand Aleph Godol is Ron Hasson, a Ramonian class of 2017.
<br /><br />
Thank you and FratSub, <br />
Ofek Gila, <br />
Alumnus of Seuss/Ramon AZA #195

<img src="{{ img_url }}">

{% endautoescape %}
