{% extends 'main_app/main_app_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "assets/styles/utilstyles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "assets/styles/games/styles.css" %}">

{% endblock %}

{% block right_float_additions %}
<li id="new-game-float" class="right-float-additions" onclick="newGame();">
	{% if mobile %}
	N
	{% else %}
	New Game
	{% endif %}
</li>

<li id="show-settings-float" class="right-float-additions" onclick="showSettingsForm();">
	{% if mobile %}
	S
	{% else %}
	Settings
	{% endif %}
</li>
{% endblock %}

{% block end_block %}

<script type="text/javascript" src="{% static "assets/javascript/games/utils.js" %}"></script>
<script type="text/javascript" src="{% static "assets/javascript/utils.js" %}"></script>

{% if game_settings %}
<script type="text/javascript">
	{% autoescape off %}
	var settings = convertKeysObject({{ game_settings }})
	gameSettings = new GameSettings(settings.gameName, settings);
	{% endautoescape %}
</script>
{% endif %}

{% endblock %}