<h3>Summary</h3>

<p>Play Connect Four online either singleplayer or multiplayer. In singleplayer, play against a super strong and super fast bot with ranging difficulty levels, from “Stupid” to “Hard” to “Good Luck”. Good luck beating the Good Luck difficulty ;)</p>

<h3>Controls</h3>

<p>By default, you play first and the bot plays second, but this, (along with many other settings) can be modified in the settings (click the ‘settings’ button). You can either choose from the 10 built-in difficulty settings, or power users can choose their values manually.</p>

<p>You can undo moves with the back button, and you can cause the AI to start playing at any specific move using the play AI button. You can also stop the AI at any point by clicking the stop AI button.</p>

<p>The AI works on simulations of games (more simulations means more accurate), and you can see how many simulations it did in the bottom-right corner. If you allow pondering, it will run simulations even when it’s your move, and I’ve found that showing the number of simulations increases pressure on the human player ;)</p>

<h3>Technical Stuff</h3>

<p>This uses an optimized implementation of the Monte Carlo tree-search. Email me for more information if you're interested.</p>
