{% extends 'games/_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/games/Crossroads.css" %}">

{% endblock %}

{% block body_content %}

<canvas id="board"></canvas>
<div id="footer">
	<div id="anal">Analysis:</div>
	<div id="num-trials">Trials:</div>
</div>

<div id="settings-menu">
	<h1 style="margin-top: 0px;">Game Settings</h1>
	<table id="settings-table">

		<tr>
			<td>Num Players:</td>
			<td><input type="number" name="num-players" min="2" max="4" value="1"></td>
		</tr>

		<tr>
			<td>Allow Pondering (Faster AI)?</td>
			<td><input type="checkbox" name="ponder" checked></td>
		</tr>

		<tr>
			<td>AI Turn:</td>
			<td>
				<select name="ai-turn">
					<option value="-1">None</option>
					<option value="0">First</option>
					<option value="1" selected>Second</option>
					<option value="2">Third (Requires at least 3 players)</option>
					<option value="3">Fourth (Requires 4 players)</option>
					<option value="4">All</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Time to think (secs):</td>
			<td><input type="number" name="time-to-think" min="0" max="20" value="1"></td>
		</tr>

		<tr>
			<td>Drawing Style:</td>
			<td>
				<select name="draw-style">
					<option value="peep">Draw Peeps</option>
					<option value="omniscient">Omniscient</option>
					<option value="hidden">Hidden</option>
				</select>
			</td>
		</tr>

	</table>
	<div class="submit-buttons-div">
		<tr><input type="submit" id="done" value="Done"></tr>
		{% if user.is_authenticated %}
		<tr><input type="submit" id="save" value="Save"></tr>
		{% endif %}
		<tr><input type="submit" id="cancel" value="Cancel"></tr>
	</div>
</div>

{% endblock %}

{% block end_block %}
{{ block.super }}

<script type="text/javascript" src="{% static "assets/javascript/games/Crossroads/Crossroads.js" %}"></script>

{% endblock %}