<h3>Summary</h3>

<p>This game is a rather obscure Israeli game that I had lying about my house. It's unique in that despite technically being a 'perfect information' game (omniscient), it requires memory.</p>

<p>The idea is to get your pieces fall out of the ends by placing pieces in one at a time (try the omniscient view style in the settings to understand this better)</p>

<h3>Controls</h3>

<p>Simply click next to an opening to place your disk.</p>

<p>Other settings like the display mode and number of players can be changed in the settings menu.</p>

<h3>History</h3>

<p>I was hesitant in making an AI for this game because it defeats the purpose—the bot would have a huge advantage over humans in that it has perfect memory, and I thought that the game without the memorization aspect would be trivial. However, after playing a bit accordingly, it was surprisingly still fun.</p>

<p>I finally decided to try this when my friend challenged me to a week-long AI challenge for the game. I created a working version that seems to play ideally with 2 players in a day (you can see it all on <a href="https://github.com/The-Ofek-Foundation/Crossroads" target="_blank">GitHub</a>).</p>

<p>The computer, after doing millions of simulations, seems to think that the first player can always win. Despite this, I seem to always lose against it as the first player (and as second). Go ahead and try for yourselves!</p>
