<h3>Summary</h3>

<p>Important: This game has been tested to work on Google chrome for Linux Mint, OSX, and android, Vivaldi for Ubuntu, and Microsoft Edge on Windows. It has been confirmed not to work on Firefox or Safari, or Google chrome for Windows. Mileage may vary on other browser / operating system pairs.</p>

<p>This innocuous game of Hangman is designed to be a hacking challenge, but you can now play it in local multiplayer with your friends.</p>

<p>The hacking challenge comprises of four rounds. The first two are easy, and are just meant to get the hang of the game interface, and provide clues for the final two rounds. The final two rounds can be beat by entering the correct guesses like in a normal game of Hangman, but are not meant to be won this way. They are meant to be won by hacking. While no amount of hacking is off-limits, please avoid causing permanent damage to my website, or hacking for purposes not strictly related to beating the Hangman game. If you cause damage to my website, please try to restore it.</p>

<p>To change between the game modes, use the settings.</p>
