{% extends 'games/_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/games/index.css" %}">

{% endblock %}

{% block body_content %}

<ul class="collapsible-list">

	<li id="main-desc">

		<h1>Games</h1>

		<p>Here are all my games, most with advanced AI opponents (bots) built in!</p>

		<p>Games with a check mark (<img class="checkmark" src="{% static "images/games/checkmark.png" %}" title="Save game settings feature" style="margin-left: 4px;">) have a setting menu (accessible via 's' click) that allow you to save your settings. These settings will be remembered whenever you log in again, even if you log in on mobile devices.</p>

		<p>Many of my games with bots use the <a href="http://blog.theofekfoundation.org/artificial-intelligence/2016/06/27/what-is-the-monte-carlo-tree-search/" target="_blank">Monte Carlo tree-search algorithm</a>. In short, it uses statistical sampling of random games as heuristics to build a search tree which it uses to determine the best move.</p>

		<p>Some games have an analysis shown (in the bottom-left) giving you the following information:</p>

		<ul>

			<li>The depth, equal to the number of plies deep the tree is using the path of the best move from every situation.</li>
			<li>The result, which is who the AI thinks will win, based off which had more simulation victories. If the delta is not large enough, it says Tie.</li>
			<li>The certainty: which is determined by the difference in wins and losses over the total trials (there is an exception for ties, where the difference would always be small even if it is certain). This is admittedly not the best criteria for certainty.</li>

		</ul>

		<p>If you have any more questions about how any of my games were made, you can always find them on <a href="https://github.com/The-Ofek-Foundation" target="_blank">GitHub</a>, or just <a href="mailto:ofek@theofekfoundation.org" target="_top">email me</a> directly.</p>

	</li>

	<li class="header" style="visibility: hidden;">Sweet, looks like you found me. Email me about it or something :P</li>

	{% for game in games.list reversed %}

	<li class="header">
		<div>{{game.name}}</div>
		{% if game.save %}
		<img class="checkmark" src="{% static "images/games/checkmark.png" %}" title="Save game settings feature">
		{% endif %}
		<div class="extendable">Expand</div>
	</li>

	<li class="description">
		{% include game.template %}
	</li>

	{% endfor %}

	<li id="hidden-top"></li>

</ul>

<br />

{% endblock %}

{% block end_block %}

<script type="text/javascript" src="{% static "assets/javascript/games/index.js" %}"></script>

{% endblock %}

