<h3>Summary</h3>

<p>While by far the simplest, buggiest, and most sluggish game on the website, the Lame Duck game remains the key attraction of my website for some reason.</p>

<h3>Controls</h3>

<p>Simply move your mouse and the duck will follow. There are no settings.</p>

<h3>History</h3>

<p>This game's original version was created in one day, and predates agar.io.</p>

<p>Since then, there have been some minor tweaks to some logistics—how quickly the duck/fish shrink—and only two major tweaks that change the way it works behind the scene to make it much less laggy (try imagining 10 times slower than it is now). Also a large jQuery -> vanilla js conversion did most of that anti-lagging work (jQuery should die).</p>
