{% extends 'games/_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/games/Mancala.css" %}">

{% endblock %}

{% block body_content %}

<canvas id="board"></canvas>
<div id="footer">
	<div id="anal">Analysis:</div>
	<div id="num-trials">Trials:</div>
</div>

<div id="center-div">
	<button class="fit-parent" id="undo-btn" onclick="undo()">Undo</button>
	<button class="fit-parent" id="new-game-btn" onclick="newGame()">New Game</button>
	<button class="fit-parent" id="settings-btn" onclick="showSettingsForm()">Settings</button>
	<button class="fit-parent" id="redo-btn" onclick="redo()">Redo</button>
</div>

<div id="settings-menu">
	<h1 style="margin-top: 0px; margin-bottom: 10px;">New Game</h1>
	<table id="settings-table">
		<tr>
			<td>Number of Pits (1 - 10):</td>
			<td><input type="number" name="num-pits" min="1" max="10" step="1" value="6" required></td>
		</tr>

		<tr>
			<td>Seeds per Pit (1 - 12):</td>
			<td><input type="number" name="seeds-per-pit" min="1" max="12" step="1" value="4" required></td>
		</tr>

		<tr>
			<td>Reverse Direction?</td>
			<td><input type="checkbox" id="reverse" name="reverse" checked></td>
		</tr>

		<tr>
			<td>Capture Rules:</td>
			<td>
				<select name="capture-rules">
					<option value="No Capturing">No Capturing</option>
					<option value="Always Capturing">Always Capturing</option>
					<option value="Same Side and Opposite Occupied" selected>Same Side and Opposite Occupied</option>
					<option value="Opposite Occupied">Opposite Occupied</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Allow Pondering?</td>
			<td><input type="checkbox" id="ai-ponder" name="ai-ponder"></td>
		</tr>

		<tr>
			<td>Show Monte Carlo weights?</td>
			<td><input type="checkbox" id="mc-weight" name="mc-weight"></td>
		</tr>

		<tr>
			<td>AI Turn:</td>
			<td>
				<select name="ai-turn" required>
					<option value="none">None</option>
					<option value="first">First</option>
					<option value="second" selected>Second</option>
					<option value="both">Both</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Monte Carlo Trials (10,000 - 1,000,000):</td>
			<td><input type="range" name="mc-trials" id="mc-trials" min="10000" max="1000000" step="10000" value="200000"></td>
		</tr>

		<tr>
			<td>Monte Carlo Expansion Constant (0 - 10):</td>
			<td><input type="range" name="mc-expansion" id="mc-expansion" min="0" max="10" step="0.1" value="3.5"></td>
		</tr>

		<tr>
			<td>Monte Carlo Certainty Threshold (0% - 100%):</td>
			<td><input type="number" name="mc-certainty" min="0" max="100" step="1" value="50" required></td>
		</tr>
	</table>
	<div class="submit-buttons-div">
		<tr><input type="submit" id="done" value="Done"></tr>
		{% if user.is_authenticated %}
		<tr><input type="submit" id="save" value="Save"></tr>
		{% endif %}
		<tr><input type="submit" id="cancel" value="Cancel"></tr>
	</div>
</div>

{% endblock %}

{% block end_block %}

{{block.super}}

<script type="text/javascript" src="{% static "assets/javascript/games/Mancala/script.js" %}"></script>

{% endblock %}