<h3>Summary</h3>

<p>Play Mancala against a very strong AI (bot), or against another player with you. Nearly everything is customizable—from the number of pits, to the seeds per pit, to the capturing rules. By default, it is set to the <a href="https://en.wikipedia.org/wiki/Kalah" target="_blank">Kalah</a> rules.</p>

<p>Get a glimpse into the brain of the bot by showing the Monte Carlo move weights.</p>

<p>The AI difficulty and turn can be changed, but their settings are a bit more technical. Have fun!</p>

<h3>Controls</h3>

<p>Press ‘s’ for settings, or ‘n’ for a new game, or simply click the huge on-screen buttons. Otherwise, simply click on the pit you want to sow.</p>

<h3>History</h3>

<p>This is another one of those games that I coded first in Java years back. I wanted to try making an AI years ago, and implemented something akin to Minimax (I didn't know what Minimax was back then), but I stopped working on it when summer began, leaving my AI unfinished. You can find all the code on <a href="https://github.com/The-Ofek-Foundation/Mancala" target="_blank">GitHub</a></p>

<p>This is the first game I implemented a Monte Carlo tree-search AI for, and it plays very strongly! On larger board sizes, it may be a bit sluggish though.</p>

<h3>Technical Stuff</h3>

<p>This uses an optimized implementation of the Monte Carlo tree-search. Email me for more information if you're interested.</p>
