<h3>Summary</h3>

<p>Play the classic Minesweeper game online! Play in various difficulties and board sizes.</p>

<p>You win by revealing all the land but the mines, flags are not necessary but are also not a problem.</p>

<h3>Controls</h3>

<p>Simply click to reveal a square, ctrl + click to place a flag, and shift + click to place a question mark.</p>

<h3>History</h3>

<p>I coded the first fully-working version of this game while on a flight from San Francisco to Hawaii. I was on the plane when I wanted to play minesweeper. I didn't have it on my computer, so I programmed it.</p>
