<h3>Summary</h3>

<p>Play the classic Old Snakey game online! Here you can also play with another player simultaneously, and you can play with an AI opponent!</p>

<p>This version includes 'boulders' or random obstacles, that spawn in every 10 foods eaten (by default). This can be changed, or disabled entirely.</p>

<p>By default, running into the walls kills the snake, but this can be changed in the settings to teleport to the other side of the map.</p>

<h3>Controls</h3>

<p>Control the snake using the arrow keys, and the secondary snake (if multiplayer) using the wasd keys. You cannot access the settings ('s') while a game is going, so hit 'n' to start a new game beforehand.</p>

<h3>History</h3>

<p>This is one of the first games I coded when I learned how to make GUIs in Java at school. The first AIs that I made involved much more convoluted code, and you can play against them or see their code in GitHub still in Java.</p>

<h3>Technical Stuff</h3>

<p>The shortest path AI implemented here uses a relatively naive breadth-first search implementation, and can be laggy with shorter delay intervals.</p>

<p>Beforehand I tried optimizing breadth-first search to be much more efficient, but in hindsight what I did makes no sense conceptually or logically, but for some reason still plays decently well. It plays significantly faster, so I left the weirdly good flawed version online.</p>
