{% extends 'games/_base.html' %}

{% load staticfiles %}

{% block body_content %}

<canvas id="board"></canvas>

<div id="game-settings-menu">
	<h1 style="margin-top: 0px;">Game Settings</h1>
	<table id="game-settings-table">

		<tr>
			<td>Number of square wide:</td>
			<td><input type="number" name="dimension-x" min="5" step="1" value="25"></td>
		</tr>

		<tr>
			<td>Delay between moves:</td>
			<td><input type="range" name="game-speed" min="0" step="1" max="250" value="75"></td>
		</tr>

		<tr>
			<td>Teleport from one side of wall to other:</td>
			<td><input type="checkbox" name="teleportation-walls"></td>
		</tr>

		<tr>
			<td>Multiplayer?</td>
			<td><input type="checkbox" name="multiplayer"></td>
		</tr>

		<tr>
			<td>AI Turn (for second/both, must be multiplayer):</td>
			<td>
				<select name="ai-turn">
					<option value="none">None</option>
					<option value="first">First</option>
					<option value="second">Second</option>
					<option value="both">Both</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>AI 1 Mode (must have AI as first or both):</td>
			<td>
				<select name="ai-mode">
					<option value="shortest path">Shortest Path</option>
					<option value="shortest path fast">Fast Shortest Path (worse)</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>AI 2 Mode (must have AI as second or both):</td>
			<td>
				<select name="ai-mode-2">
					<option value="shortest path">Shortest Path</option>
					<option value="shortest path fast">Fast Shortest Path (worse)</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Boulder Frequency (0 for none):</td>
			<td><input type="number" name="boulder-frequency" min="0" step="1"></td>
		</tr>

	</table>
	<div class="submit-buttons-div">
		<tr><input type="submit" id="done" value="Done"></tr>
		{% if user.is_authenticated %}
		<tr><input type="submit" id="save" value="Save"></tr>
		{% endif %}
		<tr><input type="submit" id="cancel" value="Cancel"></tr>
	</div>
</div>

{% endblock %}

{% block end_block %}
{{ block.super }}

<script type="text/javascript" src="{% static "assets/javascript/games/Snake/script.js" %}"></script>

{% endblock %}