{% extends 'games/_base.html' %}

{% load staticfiles %}

{% block header_additions %}

{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static "assets/styles/games/UltimateTicTacToe.css" %}">

{% endblock %}

{% block right_float_additions %}
<li>
	<a disabled style="padding-right: 0.5em;">GUI Help John Ace</a>
</li>
{% endblock %}

{% block body_content %}

<a href="https://github.com/The-Ofek-Foundation/theofekfoundation.org/blob/master/static/assets/javascript/games/UltimateTicTacToe.js"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Find me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
<canvas id="board"></canvas>
<div id="footer">
	<div id="anal">Analysis:</div>
	<div id="num-trials">Trials:</div>
</div>

<div id="game-settings-menu">
	<h1 style="margin-top: 0px;">Game Settings</h1>
	<table class="game-settings-table">
		<tr>
			<td>Allow Pondering (Faster AI)?</td>
			<td><input type="checkbox" id="ponder" checked></td>
		</tr>

		<tr>
			<td>AI Turn:</td>
			<td>
				<select id="ai-turn">
					<option value="null">None</option>
					<option value="first">First</option>
					<option value="second" selected>Second</option>
					<option value="both">Both</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Time to think (secs):</td>
			<td><input type="number" id="time-to-think" min="0" max="10" value="5"></td>
		</tr>

		<tr>
			<td>Anti Tic Tac Toe? (Goal is to lose)</td>
			<td><input type="checkbox" id="anti-tic-tac-toe"></td>
		</tr>

		<tr>
			<td>Tie Tic Tac Toe? (X wants to tie, O wants to win XD)</td>
			<td><input type="checkbox" id="tie-tic-tac-toe"></td>
		</tr>

		<tr>
			<td>
				<input type="submit" id="done" value="Done">
				{% if user.is_authenticated %}
				<input type="submit" id="save" value="Save">
				{% endif %}
				<input type="submit" id="cancel" value="Cancel">
			</td>
		</tr>

	</form>
</div>

{% endblock %}

{% block end_block %}
{{ block.super }}

<script type="text/javascript" src="{% static "assets/javascript/games/UltimateTicTacToe.js" %}"></script>

{% endblock %}