<h3>Summary</h3>

<p>Play Ultimate Tic Tac Toe (a 9x9 tic tac toe variant) online either singleplayer or multiplayer. In singleplayer, play against the strongest Ultimate Tic Tac Toe bot out there (so far), and amongst the fastest!</p>

<p>Get a glimpse into the brain of the bot by showing the move weights—heatmaps of the best moves.</p>

<p>You can also play with some weird Ultimate Tic Tac Toe variants, like anti Ultimate Tic Tac Toe (where the goal is to lose), Tie Tic Tac Toe (where X wants to tie and O wants win), or even a combination of the two! :D</p>

<h3>Controls</h3>

<p>Press ‘s’ for settings, or ‘n’ for a new game (sorry for not having any on-screen buttons mobile peeps). The settings themselves should be pretty self-explanatory.</p>

<p>There is currently no way to undo moves, so avoid making mistakes.</p>

<h3>History</h3>

<p>When I was 15, I went on a family trip to Sedona, where I played this Tic Tac Toe variant with my older brother, who easily defeated me. 10pm that night, I started programming using my mother’s laptop, on jsbin.com. At 2am, I had a working AI (with more or less the exact same GUI as exists today). Sadly, my brother beat it.</p>

<p>The next day, same thing: I started working at 10pm, and came up with a lot of ways to speed up my program and improve its efficiency (I simultaneously applied many of these improvements to my Connect Four AI as well). At around 12am, I got my brother to play against it again, and he lost. Since then, no human being that has ever beaten it (that I know of).</p>

<p>After a long search, I finally found the only worthy opponent in an app by Magma Mobile (for both <a href="https://play.google.com/store/apps/details?id=com.magmamobile.game.UltimateTicTacToe" target="_blank">Android</a> and <a href="https://itunes.apple.com/us/app/ultimate-tic-tac-toe/id971030546?mt=8" target="_blank">Apple</a>). When my AI began, it would always win, but when it went second, it would usually tie, but sometimes win or lose. My AI was still on average stronger, but not by too far. Since then, I’ve made my AI around 10 times faster and 20 times more memory efficient, and it never loses now and usually wins as second.</p>

<h3>Technical Stuff</h3>

<p>This uses an optimized implementation of the Monte Carlo tree-search. Email me for more information if you're interested.</p>
