<h3>Summary</h3>

<p>Play Weiqi (Go), or Gomoku (5-in-a-line) or Wu! Gomoku comes with an AI (bot).</p>

<p>You can change the board size, basic time control, and handicap.</p>

<h3>Controls</h3>

<p>There are no hotkeys, just hit the "New Game" button to change settings and start a new game. Sorry for the disappointing GUI in the right-hand side :/</p>

<p>There is currently no way to undo moves, so avoid making mistakes.</p>

<h3>Technical Stuff</h3>

<p>The Gomoku AI uses pure Minimax, making it very weak relative to my other bots. Surprisingly, it fairs pretty well against some of the popular bots out there online.</p>
