<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block head_block %}{% endblock %}
	</head>

	<body>
		{% block body_block %}{% endblock %}
	</body>

	{% block end_block %}{% endblock %}
	<!-- Google Analytics -->
	<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-81202457-1', 'auto');
	ga('send', 'pageview');
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- End Google Analytics -->
</html>
