#header {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
  opacity: 0.8;
}
#header #expression {
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
}
#header button,
#header select {
  font-size: 25px;
}
#header #btn-settings {
  background-image: url("http://iconshow.me/media/images/Mixed/Free-Flat-UI-Icons/png/256/settings-24-256.png");
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  border-width: 0px;
}
#graph {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#footer,
#upper-footer,
#upper-upper-footer {
  position: fixed;
  left: 0px;
  padding-left: 5px;
  width: 100%;
}
#footer {
  bottom: 0px;
  background-color: rgba(255, 0, 0, 0.3);
}
#upper-footer {
  bottom: 18px;
  background-color: rgba(0, 255, 0, 0.3);
}
#upper-upper-footer {
  bottom: 36px;
  background-color: rgba(255, 255, 0, 0.3);
}
