* {
  margin: 0;
}
html,
body {
  height: 100%;
}
#maze {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
}
#new-game-menu {
  position: absolute;
  visibility: visible;
  background-color: blue;
  z-index: -1;
  width: 80%;
  height: 80%;
  left: auto;
  top: auto;
  padding: 2%;
  color: white;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 00px black;
  box-shadow: 0 0 50px black;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}
#form-new-game {
  overflow-y: auto;
  height: auto;
}
#maze-tr-div {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 15px;
  padding: 0.5em 0.75em;
  background-color: rgba(255, 255, 255, 0.6);
}
