body {
  font-size: 2em;
  text-align: center;
}
button {
  font-size: 1.5em;
}
select {
  font-size: 1em;
}
h4 {
  margin-bottom: 0.5em;
}
textarea {
  width: 45%;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}
